<div id="clips">
<%  for (var i = 0; i < clips.length; i++) { %>
	<div id="clip_wrapper_<%= i %>" class="clip-wrapper <%= clips[i]['class'] %>">
			<audio id="clip_<%= i %>">
				<source src="<%= staticPrefix + clips[i]['path'] %>.mp3" type="audio/mpeg" duration="<%= clips[i]['duration'] %>" />
				<source src="<%= staticPrefix + clips[i]['path'] %>.ogg" type="audio/ogg" duration="<%= clips[i]['duration'] %>" />
			</audio>
			<input id="clip_count" type="hidden" class="hidden" value="<%= clips.length %>" />
		<div class="callout <%= clips[i]['callout-class'][0] %>">
			<span class="header"><%= clips[i]['header'] %></span>
			<p class="message"><%= clips[i]['message'] %></p>
			<div class="<%= clips[i]['callout-class'][1] %>"></div>
		</div>
	</div>
<% } %>
</div>

<%- partial('main-buttons.ejs') %>
		
<div class="loading-modal-wrapper">
	<div class="loading-content">
		<h1>THE SHAZINATOR.</h1>
		<img src="<%= staticPrefix %>/images/loading.gif" />
		<p><%= (typeof loadingMessage == 'undefined') ? 'please wait while i buffer...' : loadingMessage %></p>
	</div>
</div>
